a {
    color: whitesmoke;
    text-decoration: none;
    font-style: italic;
    float: left;
}

body {
    background-color: #173F5F;
    margin: 0;
}

h1 {
    color: #F6D55C;
}

h2 {
    color: #F6D55C;
}

td {
    color: whitesmoke;
    font-weight: bold;
    text-align: justify;
}

table {
    border: 1px solid #20639B;
    width: 80%;
}

p {
    font-weight: bold;
    font-style: italic;
    color: #F4A261;
    display: inline;
    margin: 0;

}

br {
    line-height: 2;
}

th {
    color: #F4A261;
}

div.sticky {
    margin: 0;
    position: fixed;
    top: 0;
    font-size: xx-large;
    width: 100%;
    background-color: #20639B;
    z-index: 1;

}

div.absolute{
    margin: 0;
    position: absolute;
    top: 150px;
    left: 25%;
}

div.inlined-right{
    margin: 0;
    position: absolute;
    top: 90px;
    left: 20%;
}

div.question_title {
    position: absolute;
    top: 60px;
    left: 7%;
}

div.question_table {
    top: 120px;
    position: absolute;
    left: 17%;
}

div.add-answer {
    margin: 0;
    position: absolute;
    top: 340px;
    left: 7%;
}