
#header {
    background-color: rgba(100, 100, 100, 0.4);
    top: 0;
    font-size: xx-large;
    width: 100%;

}

#ask_mate {
    font-size: xx-large;
    text-decoration: None;
    color: black;
    width: 100%;


}

#search_button {
    background: none;
    text-align: center;
    border: 2px solid #3498db;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25s;
}

#search_button:hover {
    border-color: #2ecc71;
}

#navigation_link {
    padding: 6px 21px;
    cursor: pointer;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.7);
    margin: 0% 34% 0% -3%;
    text-align: center;
    border: 2px solid #3498db;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25s;
}

#add_comment {
    padding: 6px 21px;
    cursor: pointer;
    font-size: small;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    border: 2px solid #3498db;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25s;

}

#back_to_q {
    text-decoration: none;
    font-family: Courier New;
    font-size: large;
    margin: 2% 0% 0% 0%;
    padding: 6px 21px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    border: 2px solid #3498db;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25s;

}

#back_to_q:hover {
    border-color: #2ecc71;

}


#navigation_link:hover {
    border-color: #2ecc71;
}


#search {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 0% 0% 3% 0%;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 15px 30px rgba(0, 0, 0, 0.6);
}


body {
    background-image: url("/static/laptop.jpg");
    background-size: cover;
    margin: 0% 0% 15% 0%;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}


#titles {
    color: whitesmoke;
    font-family: Courier New;
    font-size: xx-large;
    padding: 0px 0px;
    margin: 2% 0% 3% 2%;

}

#remove {
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid #6D0B0B;
    font-size: large;
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-block;
    transition: 0.25s;
}

#remove:hover {
    background-color: rgba(0, 0, 0, 0.8);
    border-color: crimson;
}

#questions {
    color: whitesmoke;
    font-family: Courier New;
    text-decoration: none;
    font-size: x-large;
}

#questions:hover {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 25px 25px rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    padding: 2px 2px;
    border-radius: 4px;

}

.to_home {
    background: none;
    padding: 6px 15px;
    text-decoration: none;
    outline: none;
    font-family: Courier New;
    font-size: medium;
    color: whitesmoke;
    margin: 2% 0% 1% 0%;
    border-radius: 24px;
    border: 2px solid #3498db;
}

.to_home:hover {
    color: whitesmoke;
    text-decoration: none;
    border-color: #2ecc71;
}


#absolute {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.7);
    margin: 4% 5% 0% 5%;
    color: whitesmoke;
}


#question_title {
    font-weight: bold;
    font-size: large;
    margin: 2%;
}

td {
    padding: 1px;
}

#page_head {
    color: whitesmoke;
    font-family: Courier New;
    font-size: xx-large;
    padding: 0px 0px;
    margin: 2% 0% 0% 0%;

}

#add_answer {
    color: #000;
    margin: 2% 20% 0% 20%;
    padding: 0px 10px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: large;
    display: inline-block;
    font-weight: bold;

}

#search_box {
    background: none;
    text-align: center;
    border: 2px solid #2cee71;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25s;
}

.add_form {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: Courier New;
    margin: 4% 0% 0% 0%;
    display: inline-block;
    box-shadow: 0px 0px 25px 35px rgba(0, 0, 0, 0.7);
}

.add_form p {
    color: whitesmoke;
    font-size: xx-large;
}


#add_answer:hover {
    background-color: rgba(0, 0, 0, 0.4);
    font-size: xx-large;
    font-family: Courier New;
    text-decoration: none;
    color: whitesmoke;
    padding: 1px 1px;
    border-radius: 4px;
    display: inline-block;
    box-shadow: 0px 0px 25px 35px rgba(0, 0, 0, 0.4);

}


#add_comment:hover {
    border-color: #2ecc71;
}

#comment_table {
    margin: 0% 0% 1% 0%;
}

#add_question {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 2% 0% 0% 0%;
    font-size: xx-large;
    font-family: Courier New;
    text-decoration: none;
    color: whitesmoke;
    border: 2px solid #3498db;
    padding: 0px 10px;
    border-radius: 24px;
    display: inline-block;
}

#add_question:hover {
    border-color: #2ecc71;
}


input, a {
    cursor: pointer;
    color: black;

}

#upvote {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 100px;
    color: whitesmoke;
    padding: 0px 12px;
}


#message {
    font-family: Courier New;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.6);
    font-size: x-large;
    color: whitesmoke;
    margin: 2% 20% 0% 20%;

}

br {
    line-height: 2;
}

#time {
    text-align: left;
    font-style: italic;
    font-weight: lighter;
    font-size: medium;
    color: rgba(255, 255, 255, 0.6);
}

#question_time {
    text-align: right;
    font-style: italic;
    font-weight: lighter;
    font-size: medium;
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    margin: 0% 0% 0% 80%;
}

#answer {
    font-family: Courier New;
    margin: 5% 10% 0% 10%;
    padding: 8px 8px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.6);
    font-size: large;
    color: whitesmoke;
}

#answer_head {
    margin: 5% 10% 0% 10%;
    font-size: x-large;
    color: whitesmoke;
    font-family: Courier New;
    padding: 1px 10px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.6);
}

#new_q_a {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid;
    border-radius: 7px 7px;
    display: compact;
    padding: 14px 14px;
    margin: 2% 25% 0% 25%;

}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    outline: none;
}

#submit_q_a {
    background-color: #555;
    width: 100%;
    padding: 7px 4px;
    color: white;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit_q_a:hover {
    background-color: #444;
}

#q_comments {
    color: whitesmoke;
    font-family: Courier New;
}

#com_time {
    text-align: right;
    font-style: italic;
    font-weight: lighter;
    font-size: small;
    color: rgba(255, 255, 255, 0.6);

}

#a_comment {
    font-style: italic;
    font-size: small;
    padding: 5px;
}

.users {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.7);
    margin: 4% 35% 0% 35%;
    color: whitesmoke;
    text-align: center;
}

.users p {
    display: inline;
}


#user_name {
    font-size: x-large;

}

#user_regist {
    font-weight: lighter;
    font-style: italic;
    font-size: small;
    margin: 0% 0% 0% 5%;
    color: rgba(255, 255, 255, 0.6);
}

#user_regist_time {
    font-weight: lighter;
    font-style: italic;
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
}

.logedin_as {
    width: 30%;
    display: inline;
    text-align: right;
    position: absolute;
    right: 5px;
}

.logedin_as p {
    display: inline;
    color: whitesmoke;
    white-space: nowrap;
    margin: 0;
    font-size: medium;
}

.logedin_as button {
    font-weight: bold;
    margin: 0% 0% 0% 0%;
}

.logedin_as a {
    text-decoration: none;
    margin: 0% 0% 0% 2%;
}

.logedin_as i {
    font-size: xx-large;
}

.main_nav {
    margin: 15px 0px 0px 0px;
}

.login_form {
    background-color: rgba(0, 0, 0, 0.8);
    font-family: Courier New;
    color: whitesmoke;
    font-weight: bold;
    font-size: medium;
    margin: 4% 0% 0% 0%;
    display: inline-block;
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 25px 35px rgba(0, 0, 0, 0.8);
}

#user_data {
    width: 280px;
    background: none;
    margin: 20px auto;
    text-align: center;
    display: block;
    border: 2px solid #2cee71;
    padding: 14px 10px;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25s;
}

#user_data:focus {
    width: 380px;
    border-color: #3498db;
}

#user_data:after {
    border-color: #3498db;
}

#submit_user {
    width: 180px;
    background: none;
    margin: 0px auto 10px;
    text-align: center;
    display: block;
    border: 2px solid #3498db;
    padding: 14px 10px;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25s;
}

#submit_user:hover {
    border-color: #2ecc71;
}

#label {
    color: whitesmoke;
    text-transform: uppercase;
    font-size: x-large;
}

#error_message {
    color: crimson;
}

#logger {
    background: none;
    text-align: center;
    border: 2px solid #3498db;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25s;
}

#logger:hover {
    border-color: #2ecc71;
}

#textarea {
    color: whitesmoke;
    border: 2px solid #3498db;
    border-radius: 24px;
    transition: 0.25s;
    background: none;

}

#textarea:focus {
    border-color: #2ecc71;
}

#title {
    outline: none;
    text-align: center;
    width: 280px;
    color: whitesmoke;
    border: 2px solid #3498db;
    border-radius: 24px;
    transition: 0.25s;
    background: none;

}

#title:focus {
    width: 380px;
    border-color: #2ecc71;
}

#textarea:focus {
    border-color: #2ecc71;
}

#disabled_comment {
    padding: 6px 21px;
    cursor: pointer;
    font-size: small;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    border: 2px solid #823800;
    outline: none;
    color: gray;
    border-radius: 24px;
    transition: 0.25s;
}

#disabled_comment:hover {
    border-color: #ff6100;
}