{% extends 'layout.html' %}
{% block content %}
    <div id="search">
        <p id="page_head" align="center">Add answer</p>
    </div>
    <div>
        <p align="center"><a class="to_home" href="/">Home page</a></p>
    </div>
    <div align="center">
        <div class="add_form">
            <form action="{{ url_for('add_answer', question_id=question_id) }}" , method="POST">
                <h1 id="label">Your answer to the question</h1>
                <textarea name="message" id="textarea" rows="10" cols="40"></textarea>
                <br>
                <input id="submit_user" type="submit" value="Submit answer">
            </form>
        </div>
    </div>
{% endblock %}
