{% extends 'layout.html' %}
{% block content %}
    <div id="search">
        <p id="page_head" align="center">Add comment</p>
    </div>
    <div>
        <p align="center"><a class="to_home" href="/">Home page</a></p>
    </div>
    <div align="center">
        <div class="add_form">
            <form action="{{ url_for('add_answer_comment', answer_id=answer_id, question_id=question_id) }}" ,
                  method="POST">
                <p>Your comment</p>
                <textarea name="comment" id="textarea" rows="10" cols="40"></textarea>
                <br>
                <input id="submit_user" type="submit" value="Submit comment">
            </form>
        </div>
    </div>
{% endblock %}