{% extends 'layout.html' %}
{% block content %}
    <div id="search">
        <p id="page_head" align="center">Add question</p>
    </div>
    <div>
        <p align="center"><a class="to_home" href="/">Home page</a></p>
    </div>
    <div align="center">
        <div class="add_form">
            <form action="/add_question" , method="POST">
                <p>Your question</p>
                <input type="text" id="title" autocomplete="off" name="title" placeholder="Title of your question"><br>
                <textarea name="message" id="textarea" cols="40" rows="10" required></textarea>
                <p>Picture</p>
                <input name="image" id="title"><br>
                <input id="submit_user" type="submit" value="Submit question">
            </form>
        </div>
    </div>
{% endblock %}