<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/theme.css" >
    <meta charset="UTF-8">
    <title>Ask a question</title>

</head>
<body>
    <form action="/add_question", method="POST">
        <p>
            <label for="add"><h2>Add a question here:</h2></label>
            <input id="add" name="title" value="Title of your question">
        </p><br>
        <p>
            <label for="text_add"></label>
            <textarea name="message" id="text_add" cols="40" rows="4" required></textarea>
        </p>
        <p>
            <label for="picture"><h2>Picture</h2></label>
            <input name="image">
        </p>
        <p><input type="submit" value="Submit"></p>
    </form>
</body>
</html>