{% extends 'layout.html' %}
{% block content %}
    <div align="center">
        <div id="add_form">
            <form action="{{ url_for('add_answer_comment', answer_id=answer_id, question_id=question_id) }}" ,
                  method="POST">
                <p>Your comment:</p>
                <textarea name="comment" rows="20" cols="40"></textarea>
                <br>
                <input id="submit_q_a" type="submit" value="Submit comment">
            </form>
        </div>
    </div>
{% endblock %}