<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/theme.css">
    <meta charset="UTF-8">
    <title>Ask-mate</title>
</head>
<body>
<div><p>{{ 'You are logged in as ' + session['username'] if session['username'] is defined else 'You are not logged in'}}</p><br>
    {% if session['username'] is defined %}
    <a href="{{ url_for('logout') }}"><button>Logout</button></a>
    {% else %}
        <a href="{{ url_for('login') }}"><button>Login</button></a>
        <a href="{{ url_for('save_new_user') }}"><button>Register</button></a>
    {% endif %}

{% block content %} {% endblock %}


</body>
</html>