<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/theme.css">
    <meta charset="UTF-8">
    <title>AskMate</title>

</head>
<body>
<h1 align="center">AskMate</h1>
    <h2>Questions:</h2>
    {% for question in questions %}
        <br><strong><a style="font-style: normal"
            href="{{ url_for('route_selected_question', question_id = question['id']) }}">{{ question['title'] }}</a></strong>
        <br>
        <a style="text-decoration: underline; color: #3CEAE3" href="{{ url_for('remove_question', question_id = question['id']) }}">Remove question</a><br>
    {% endfor %}
    <br><a style="color: #F6D55C;text-decoration: underline" href="/add_question" class="add-answer"><strong>Add new Question:</strong></a>
</body>
</html>