{% extends 'layout.html' %}
{% block content %}
    <div id="search">
        <p align="center" id="page_head">Latest questions</p>
        <form action="/search" method="get">
            <input id="search_box" autocomplete="off" name="search" type="search">
            <input id="search_button" type="submit" value="Search">
        </form>
    </div>
    <div class="main_nav">
        <p style="margin: 3% 0% 3% 0%;" align="center"><a id="navigation_link" href="/list-users">List users</a>
        <a id="navigation_link" href="/list">List all questions</a></p>
    </div>
        <div id='absolute'>
        {% for question in questions %}
            <strong><a id="questions"
                           href="{{ url_for('route_selected_question', question_id = question['id']) }}">{{ question['title'] }}</a></strong>
            {% if user_id == question['user_id'] %}
                <a id="remove"
                   href="{{ url_for('remove_question', question_id = question['id']) }}">&#x2613</a>
            {% elif session['username'] == 'Admin' %}
                <a id="remove"
                   href="{{ url_for('remove_question', question_id = question['id']) }}">&#x2613</a>
            {% endif %}
            <br><br>
        {% endfor %}
    </div>
    <br><br>
    <p align="center"><a id="add_question" href="/add_question">Add
        new
        question &#x270E</a></p>
{% endblock %}