{% extends 'layout.html' %}
{% block content %}
    <div id="search">
        <p align="center"><a id="back_to_q" href="/list">Back to the questions</a></p>
    </div><br>
    <p id="titles">{{ question[0]['title'] }}</p>
    <div id="message">{{ question[0]['message'] }}<br>
        <div id="q_comments">
            <table>
                {% for comment in question_comments %}
                    <tr>
                        <td id="com_time">{{ comment['submission_time'] }}</td>
                        <td id="a_comment">{{ comment['message'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <a id="add_comment" href="{{ url_for('add_question_comment', question_id = question_id) }}">Add comment</a>
        <p id="question_time">{{ question[0]['submission_time'] }}</p>
    </div>
    <p id="answer_head">Answers:</p>
    <div id="answer">
        {% if answers == [] %}
            <p>There is no answer for this question.</p>
        {% else %}
            {% for items in answers %}
                <p><a id="remove"
                      href="{{ url_for('remove_answer', answer_id = items['id'], question_id = question_id) }}">&#x2613</a>
                    {{ items['vote_number'] }}
                    <a id="add_comment"
                       href="{{ url_for('edit_answer', answer_id = items['id'], text = items['message'], question_id=question_id) }}">Edit</a>
                </p>
                <p>{{ items['message'] }}
                </p>
                <div id="q_comments">
                    <table>
                        {% for comment in answer_comments[items['id']] %}
                            <tr>
                                <td id="com_time">{{ comment['submission_time'] }}</td>
                                <td id="a_comment">{{ comment['message'] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <a id="add_comment"
                   href="{{ url_for('add_answer_comment', answer_id = items['id'], question_id=question_id) }}">Add
                    comment</a>
                <p id="question_time">{{ items['submission_time'] }}</p>
            {% endfor %}
        {% endif %}
    </div><br><br>
    <p align="center">
        <a id="add_question"
           href="{{ url_for('add_answer', question_id = question_id) }}"
           id="add">Add new
            answer &#x270E</a></p>
{% endblock %}
